* {
  margin: 0;
  padding: 0;
}

body {
  max-width: 700px;
  min-height: 700px;
  text-align: center;
  font-family: Helvetica;
  border: 1px solid black;
  margin: 20px auto;
}

input {
  display: block;
  margin: 1px;
  text-align: center;
}

#contact-details {
  width: 50%;
  float: right;
}

#contact-list {
  width: 50%;
  float: left;
}

li {
  list-style: none;
}

#form-container form *{
  display:inline;
}

ul#contacts li {
  color: purple;
  text-decoration: underline;
  cursor: pointer;
}
